.calculator{
  width:374px;
  border:solid 1px #373d45;
  background-image:url("eelogo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  margin: auto;
  margin-top:20px; 
}
.calculator button{
  margin:8px;
  width:77px;
  border-color:#1795d4;
} 

.active,
.calculator button:hover{
  background-color:#1795d4!important;
  border-color:#1795d4!important;
}

.calculator button:focus{
  box-shadow:0 0 0 0.2rem rgb(23,149,212, 0.5)!important;  
}
button.number-key-0{
  width:170px;
}
.display{
  border-bottom:solid 1px #373d45;
  font-size: 2.8rem;
  line-height: 1.5;
  margin-bottom:5px;  
  color:#373d45;
  background-color:#1795d4;
  color:#fff;
  padding-right:5px;
}


